.wrap {
    background-color:orange;
    grid-area: content;
    min-height: 500px;
    display: flex;
}

.listUser {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.textMessages {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}


